@import '../../styles/variables';

.toc {
  position: fixed;
  top: 200px;
  left: 50%;
  translate: 450px 0;
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: '';
    background-color: $border;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
  }

  ul {
    padding: 0;
    margin: 0;
    // margin-left: 20px;
    margin-left: 0.7rem;
    li {
      list-style: none;
      margin: 0;
    }
  }
  p {
    margin-block: 0.2rem;
  }

  a {
    color: $mute;
    text-decoration: none;
  }
}
