@import '../../styles/variables';
.like {
  display: flex;
  align-items: center;
  flex-direction: column;
  .like-btn {
    cursor: pointer;
  }
  .like-count {
    margin: 0;
    font-weight: $weight-bold;
  }
}
