$main-font: Pretendard, Noto Sans KR, Noto Sans CJK KR, arial, 돋움, Dotum,
  Tahoma, Geneva, sans-serif;
$code-font: Roboto Mono, Noto Sans KR, Noto Sans CJK KR, monospace;
$heading-font: NanumSquare, Noto Sans KR, Noto Sans CJK KR, arial, 돋움, Dotum,
  Tahoma, Geneva, sans-serif;

$font-size-1: 1rem;
$font-size-2: 1.1rem;
$font-size-3: 1.3rem;
$font-size-4: 1.6rem;

$weight-regular: 400;
$weight-bold: 700;
$weight-heading: 500;
$weight-title: 800;

$small-width: 700px;
$big-width: 900px;

$text: var(--theme-ui-colors-text);
$heading: var(--theme-ui-colors-heading);
$content: var(--theme-ui-colors-content);
$background: var(--theme-ui-colors-background);
$second-background: var(--theme-ui-colors-second-background);
$code-background: var(--theme-ui-colors-code-background);
$primary: var(--theme-ui-colors-primary);
$border: var(--theme-ui-colors-border);
$mute: var(--theme-ui-colors-mute);
