@import './variables';

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $background;
  font-weight: $weight-regular;
}

strong {
  font-weight: $weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $weight-heading;
  font-family: $heading-font;
}
