@import './variables';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $background;
  font-weight: $weight-1;
  letter-spacing: -0.1px;
}

strong {
  font-weight: $weight-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $weight-3;
  font-family: $heading-font;
}
