@import '../../styles/variables';

.container {
  margin: auto;
  min-height: 100vh;
  font-family: $main-font;
  max-width: $small-width;
  padding: 0.6rem;
  box-sizing: content-box;

  &.narrow {
    max-width: $small-width;
  }
  &.wide {
    max-width: $big-width;
  }
}

.heading {
  color: $heading;
  font-weight: $weight-title;
}
