@import '../../styles/variables';

#header {
  position: sticky;
  width: 100%;
  padding: 10px;
  top: 0;
  background-color: $background;
  opacity: 90%;
  z-index: 2;
  margin-top: 30px;
  height: 80px;
  border-bottom: 5px double $border;
  // overflow: hidden;
  header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    font-family: $main-font;
    // justify-content: space-between;

    .title {
      font-size: $font-size-4;
      text-decoration: none;
      color: $text;
      font-weight: $weight-bold;
    }
    nav {
      font-weight: $weight-heading;
      flex-grow: 1;
      overflow: hidden;
      flex-shrink: 1;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.3em;
        list-style: none;
        padding-left: 0;
        li > .nav-link {
          text-decoration: none;
          color: $text;
          display: flex;
          gap: 2px;
          align-items: center;
          .iconify {
            display: inline-block;
          }
          &[aria-current='page'] {
            color: $mute;
          }
        }
      }
    }
    .functional {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1.3em;
      padding-left: 1rem;
      .color-toggle {
        cursor: pointer;
      }
      .search .search-btn {
        text-decoration: none;
        color: $text;
        display: flex;
        gap: 2px;
        align-items: center;
        .iconify {
          display: inline-block;
        }
        &[aria-current='page'] {
          color: $mute;
        }
      }
      .hamburger {
        background-color: transparent;
        border: 0;
        color: $text;
      }
    }
  }
  .primary-nav {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 99;
    display: flex;

    &[data-state='closed'] {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 0;
      margin: 0;
      border: 1px solid $border;
      li {
        border-bottom: 1px solid $border;
        font-family: $main-font;
        font-weight: $weight-bold;
        &:last-child {
          border-bottom: 0;
        }
        .nav-link {
          padding: 0.8rem;
          background-color: $second-background;
          text-decoration: none;
          color: $text;
          display: flex;
          gap: 2px;
          align-items: center;
          .iconify {
            display: inline-block;
          }
          &[aria-current='page'] {
            color: $mute;
          }
        }
      }
    }
  }
}
