@import '../../styles/variables';

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-family: $main-font;

  a {
    color: $primary;
    text-decoration: none;
  }
}
