* {
  @media (prefers-color-scheme: light) {
    --font-color: #111111;
    --content-color: #444444;
    --link-color: #fb718a;
    --background-color: #f0f0f0;
    --border-color: #aaaaaa;
    --primary-color: #fb718a;
    --heading-color: black;
    --button-color: #333333;
  }
  @media (prefers-color-scheme: dark) {
    --font-color: #eeeeee;
    --content-color: #cccccc;
    --link-color: #e47588;
    --background-color: #222222;
    --border-color: #777777;
    --primary-color: #e47588;
    --heading-color: white;
    --button-color: #cccccc;
  }
}
